@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- HIDE SCROLLBAR GLOBALLY --- */

@layer base {
  html {
    /* Firefox */
    scrollbar-width: none; 
    /* IE and Edge */
    -ms-overflow-style: none; 
  }
  
  html::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none; 
  }
}

/* Optional: Smooth scrolling for the whole page */
html {
  scroll-behavior: smooth;
}